extends layout

block content
  header
    img(src='/images/hometap.jpg')
    nav.navbar.navbar-default
      .container
        .navbar-header
        .navbar.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') User Orders
            li.active
              a(href='/admin/beers') Manage Beer Listings
            li
              a(href='/logout') Logout

  .container
    .col-xs-4.col-md-3
      ul.list-group
        each category, index in categories
          li.list-group-item
            a(href='/admin/beers/category/#{index}') #{category}

    .col-xs-10.col-md-6
      table.table.table-striped
        thead
          tr: th Beers
        tbody
          each beer in beers
            tr
              td #{beer.name}
              td: button(class='deleteButton' data-id='#{beer._id}') Delete

    .container
      .col-xs-4.col-md-3
        form(action='/admin/beers' method='POST')
          h4 Add New Beer
          input(type='hidden' name='_method' value='add')
          input(type='text' name='name' placeholder='Beer Name')
          p Beer Name
          select(name='categoryId')
            option(value='' selected='selected')
            each category, index in categories
              option(value='#{index}') #{category}
          p Category
          input(type='text' name='description' placeholder='Descripton')
          p Description
          input(type='number' name='stars' placeholder='Stars')
          p Stars
          input(type='submit' name='Add Beer' text='Add Beer')

  script(type='text/javascript' src='/javascripts/admin_lib.js')
