extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        button(type="btn" class="navbar-toggle" data-toggle="collapse")
        a(href='/user')
          img.nav(src='/images/HomeTap.jpg')
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/admin') 
              button.nav(class='btn navbar-btn' type='button') User Orders
          li
            a(href='/admin/beers')
              button.nav.active(class='btn navbar-btn' type='button') Manage Beer Listings 
          li
            a(href='/logout')
              button.nav(class='btn navbar-btn' type='button') Logout 

  div.categoryList
    div.col-xs-4.col-md-3
      ul.list-group
        each category, index in categories
          li.categories.list-group-item
            a.categories(href='/admin/beers/category/#{index}') #{category}

    div.col-xs-10.col-md-6
      table.table.table-striped
        thead
          tr: th Beers
        tbody
          each beer in beers
            tr
              td #{beer.name} 
                td
                  button(class='btn deleteButton', data-id= '#{beer._id}') Delete

    div.container
      div.row
        div.col-xs-8
          form(action='/admin/beers' method='POST')
          h4 Add New Beer
          input(type='hidden' name='_method' value='add')
          label(for='name') Beer Name
          input(type='text' name='name' placeholder='Beer Name')
          br
          label(for='categoryId') Category
          select(name='categoryId')
            option(value='' selected='selected')
            each category, index in categories
              option(value='#{index}') #{category}
          br
          br
          label(for='description') Description
          input(type='text' name='description' placeholder='Descripton')
          br
          label(for='stars') Stars
          input(type='text' name='stars' placeholder='Stars')
          br
          button.submit(class='btn btn primary' type='submit') Submit
          

  script(type='text/javascript', src='/javascript/adminLib.js')

