extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        button(type="btn" class="navbar-toggle" data-toggle="collapse")
        a(href='/user')
          img.nav(src='/images/hometap.jpg')
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/user') 
              button.nav(class='btn navbar-btn' type='button') Home
          li
            a(href='/user/beers')
              button.nav.active(class='btn navbar-btn' type='button') Browse Beer 
          li
            a(href='/logout')
              button.nav(class='btn navbar-btn' type='button') Logout      

  div.categoryList
    div.col-xs-4.col-md-3
      ul.list-group
        each category, index in categories
          li.categories.list-group-item
            a.categories(href='/user/beers/category/#{index}') #{category}

    div.col-xs-10.col-md-6
      table.table.table-striped
        thead
          tr: th Beers
        tbody
          each beer in beers
            tr
              td #{beer.name} 
                td
                  if (beer.favorite)
                    button(class='btn favoriteButton', data-id='#{beer._id}', type='button') Un-Favorite
                  else
                    button(class='btn favoriteButton', data-id='#{beer._id}', type='button') Favorite
                td
                  if (beer.inQueue)
                    button(class='btn queueButton', data-id='#{beer._id}' type='button') Remove From Queue
                  else
                    button(class='btn queueButton', data-id='#{beer._id}' type='button') Add To Queue

  script(type='text/javascript' src='/javascripts/user_lib.js')
