extends layout

block content
  header
    nav.navbar.navbar-default
      div.container
        div.navbar-header
          h1 Home Tap
        div.navbar.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/user') Back to Queue
            li
              a(href='/logout') Logout

  div.categorylist
    ul.list-group.col-xs-4.col-md-6
      each category, index in categorylist
        li.list-group-item
          a(href='/user/beers/category/#{index}') #{category}

  div.col-xs-10.col-md-6
    div.beerlist 
      each beer in beerlist
        p #{beer.name} 
          if (beer.favorite)
            button(class='favoriteButton', data-id='#{beer._id}', type='button') Un-Favorite
          else
            button(class='favoriteButton', data-id='#{beer._id}', type='button') Favorite
          &nbsp;&nbsp;
          if (beer.inQueue)
            button(class='queueButton', data-id='#{beer._id}' type='button') Remove From Queue
          else
            button(class='queueButton', data-id='#{beer._id}' type='button') Add To Queue
  
  script(type='text/javascript', src='/javascript/userlib.js')
  
