extends layout

block content
  header
    nav.navbar.navbar-default
      div.container
        div.navbar-header
          h1 Home Tap
        div.navbar.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/user/beers') Browse Beer
            li
              a(href='/logout') Logout
            li
              p Current user: #{user.username}

  div.col-xs-4.col-md-3
    ul.list-group
      li(class='list-group-item')
        a(href='/user') Queue 
      li.list-group-item
        a(href='/user/beers/favorite/') Favorites    

  div.col-xs-18.col-md-12
    table(class='table table-striped')
      thead
        tr 
          th
            a(href='/')
              button() Queue
          th 
            a(href='/user/favorites') 
              button() Favorites
        tr
          th Beer Name
          th Description
          th Category
          th Stars
          th Remove
      tbody
        each beer in beerlist
          tr
            td #{beer.name} 
            td #{beer.description}
            td #{beer.category}
            td #{beer.stars}
            td: button(class='removeFromList', data-id='#{beer._id}', type='button') Remove

    script(type='text/javascript', src='/javascript/user_home.js')

