extends layout

block content
  header
    nav.navbar.navbar-default
      div.container
        div.navbar-header
          h1 Home Tap
        div.navbar.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/user/beers') Browse Beers
            li
              a(href='/logout') Logout

  div.col-xs-4.col-md-3
    ul.list-group
      li(class='list-group-item')
        a(href='/user') Queue 
      li.list-group-item
        a(href='/user/beers/favorite/') Favorites    

  .container           
    .queue
      each beer in user.queue
        div
          span(title=beer.description) #{beer.name} (Category: #{beer.category}) (Stars: #{beer.stars})
          &nbsp;&nbsp;
          a(href='/')
            button(type='button') Remove    
    p Current user: #{user.username}

    
 