extends layout

block content
  header
    img(src='/images/HomeTap.jpg')
    nav.navbar.navbar-default
      div.container
        div.navbar.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/user') Home
            li
              a(href='/user/beers') Browse Beer 
            li
              a(href='/logout') Logout     

  div.categorylist
    ul.list-group.col-xs-4.col-md-6
      each category, index in categorylist
        li.list-group-item
          a(href='/user/beers/category/#{index}') #{category}

  div.col-xs-12.col-md-7
    table(class='table table-striped ')
      thead
        tr: th Beers
      tbody
        each beer in beerlist
          tr
            td #{beer.name} 
            td
              if (beer.favorite)
                 button(class='favoriteButton', data-id='#{beer._id}', type='button') Un-Favorite
              else
                button(class='favoriteButton', data-id='#{beer._id}', type='button') Favorite
             td
              if (beer.inQueue)
                button(class='queueButton', data-id='#{beer._id}' type='button') Remove From Queue
              else
                button(class='queueButton', data-id='#{beer._id}' type='button') Add To Queue

  script(type='text/javascript', src='/javascript/userlib.js')

