extends layout

block content
  header
    h1 Home Tap

  .container
    nav
      ul
        li 
          a(href='/user/beers') Browse New Beer
        li Ready For Beer

    .categorylist.left
      ul
        li
          a(href='/user') Queue
        li
          a(href='/user/favorites') Favorites

    .beerlist.right
      each beer in beerlist
        div
          span(title=beer.description) #{beer.name} (Category: #{beer.category}) (Stars: #{beer.stars})
          &nbsp;&nbsp;
          button(class='.removeQueueButton', data-id='#{beer._id}', type='button') Remove

    p Current user: #{user.username}
    a(href='/logout') Logout

    script(type='text/javascript', src='/javascript/user_home.js')
