extends layout

block content
  header
    img(src='/images/hometap.jpg')
    nav.navbar.navbar-default
      .container
        .navbar-header
        .navbar.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/user') Home
            li
              a(href='/user/beers') Browse Beer
            li
              a(href='/logout') Logout

  .col-xs-18.col-md-12
    table.table.table-striped
      thead
        tr 
          th
            a(href='/')
              button() Queue
          th
            a(href='/user/favorites') 
              button() Favorites
        tr
          th Beer Name
          th Description
          th Category
          th Stars
          th Remove
      tbody
        each beer in beers
          tr
            td #{beer.name}
            td #{beer.description}
            td #{beer.category}
            td #{beer.stars}
            td: button(class='removeFromList' data-id='#{beer._id}' type='button') Remove

  script(type='text/javascript' src='/javascripts/user_home.js')
